{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock title %}</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		{% block style %}{% endblock style %}

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

		<script type="text/javascript">
			var _iub = _iub || [];
			_iub.csConfiguration =
			{
				"lang": "en",
				"siteId": 1621050,
				"cookiePolicyId": 55978734,
				"banner":
				{
					"acceptButtonDisplay": true,
					"customizeButtonDisplay": true,
					"position": "float-top-center",
					"slideDown": false
				}
			};
		</script>
		<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

		{% block script %}{% endblock script %}
	</head>
	<body>
		{% block content %}{% endblock content %}
		<script type="text/javascript" src="{% static 'js/iubenda.js' %}"></script>
	</body>
</html>