{% extends "survey/base.html" %}

{% load static %}

{% block title %}Sign In{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock script %}

{% block content %}
	<div class="contenitore">
		<div class="log_reg">
			<form method="post" action="/log/">
				<span class="titolo">
					<span>Welcome to</span> FreeSurvey
				</span>

				<div class="inputs">
					<input class="input" type="text" name="nickname" oninput="place_holder(event, 0);" autocomplete="off">
					<span class="placeholder" data-placeholder="Nickname"></span>
				</div>

				<div class="inputs">
					<input class="input" type="password" name="password" oninput="place_holder(event, 1);" autocomplete="off">
					<span class="placeholder" data-placeholder="Password"></span>
				</div>

				{% csrf_token %}

				<div class="base">
					<div class="posizione">
						<div class="animazione"></div>
						<button class="btn" type="submit">
							Sign In
						</button>
					</div>
				</div>

				<div class="link">
					<span class="testo">
						Don’t have an account?
					</span>

					<a href="reg">
						Sign Up
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}