{% extends "survey/base.html" %}

{% load static %}

{% block title %}Visualize Survey{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
{% endblock style %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/survey.js' %}"></script>
{% endblock script %}

{% block content %}
	<div>
		<script>
			var survey = {{ survey }};
			var questions = "{{ questions }}";
			var answers = "{{ answers }}";

			console.log(JSON.parse(survey));
			console.log(JSON.parse(questions));
			console.log(JSON.parse(answers));
		</script>
		{% for question in questions %}
			<div class="survey" onclick="document.location='../survey/{{ survey.user.nickname }}/{{ survey.id }}';">
				<p class="name">{{ survey.name }}</p>
				<p class="description">{{ survey.description }}</p>
				<p class="date">{{ survey.date }}</p>
			</div>
		{% endfor %}
		<a href="https://www.iubenda.com/privacy-policy/55978734" class="iubenda-black iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
	</div>
{% endblock content %}