{% extends "survey/base.html" %}

{% load static %}

{% block title %}Visualize Survey{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
{% endblock style %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/survey.js' %}"></script>
	<script>
		var survey = JSON.parse({{ survey|safe }})[0].fields;
		var questions = JSON.parse({{ questions|safe }});
		var answers = JSON.parse({{ answers|safe }});
		var pk = 0;

		console.log(survey);
		console.log(questions);
		console.log(answers);

		$(document).ready(function()
		{
			$("#name").text(survey.name);
			$("#description").text(survey.description);

			for(var i = 0; i < questions.length; i++)
			{
				console.log(questions[i]);

				pk = questions[i].pk;

				$("#survey").append(
					"<div class='questions'>" + 
					"<p>" + questions[i].fields.question + "</p>" +
					"<div class='answers" + i + "'>" + 
					"</div>" + 
					"</div>"
				);

				for(var j = 0; j < answers.length; j++)
				{
					if(pk == answers[j].fields.question)
					{
						$(".answers" + i).append(
							answers[j].fields.answer + 
							"<input type='radio' name='answ" + i + "' value='" + answers[j].fields.answer + "'/>"
						);
					}
				}
			}
		});
	</script>
{% endblock script %}

{% block content %}
	<div class="contenitore">
		<div class="frame">
			<span class="titolo">
				<span>Welcome to</span> FreeSurvey
			</span>

			<header>
				<h2 id="name"></h2>
				<p id="description"></p>
			</header>
			
			<section id="survey">
				
			</section>
		</div>
	</div>
{% endblock content %}