{% extends "survey/base.html" %}

{% load static %}

{% block title %}User List{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock style %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="text/javascript" src="{% static 'js/list.js' %}"></script>
{% endblock script %}

{% block content %}
	<div class="contenitore">
		<div class="log_reg">
			<h1>User List</h1>
			<div id="nicknames">
				<table id="users">

				</table>
			</div>
			<div class="footer">
				<a href="../">Logout</a>
			</div>
		</div>
	</div>
{% endblock content %}