<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Page</title>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" type="text/css" href="/css/home.css">
	</head>
	<body>
		<div class="contenitore">
			<div class="frame">
				<span class="titolo">
					<span>Welcome to</span> FreeSurvey
				</span>

				<h2 id="sottotitolo">Your Polls</h2>
				<section id="centro">
					<% for(var i = 0; i < surveys.length; i++) { %>
						<% var url = "../survey?id=" + surveys[i]._id; %>
						<div class="survey" onclick="document.location = '<%= url %>'">
							<p class="name"><%= surveys[i].name %></p>
							<p class="description"><%= surveys[i].description %></p>
							<p class="date"><%= surveys[i].date %></p>
						</div>
					<% } %>
					<div class="survey" onclick="document.location='../create';">
						Create a Survey!
					</div>
				</section>
			</div>
		</div>
	</body>
</html>